<h1> Burgers! </h1>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Type in your burger:</label>
    <input type="text" id="burgerType" name="BurgerTypeInput">
  </div>

  {{!-- <div class="form-group">
   
  </div> --}}

  <button type="burgerSubmit">Add Burger</button>
</form>