<h1> Brit's Burgers </h1>

<img src="/assets/img/buns.png" alt="buns" class="imgCenter"></img>


<ul id="leftUndevoured">
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burgersButton}}
  {{/unless}}
  {{/each}}
</ul>



<ul id="rightDevoured">
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burgersDevoured}}
  {{/if}}
  {{/each}}
</ul>

<br>
<h2>Add a burger</h2>

<form class="createForm">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <br>
    <br>
    <input type="text" id="bn" name="burger_name">
  </div>

  <br>
  <button type="submit"> Add Burger </button>
</form>