{{!-- Partial to produce a clickable burger button next to queued burgers --}}
<li>

	{{id}}.{{burger_name}}

	<button class="devourButton" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#unless devour}}DEVOUR{{/unless}}
	</button>


</li>


